{{ form_start(form) }}

    {# Форма #}
    {{ form_widget(form) }}

    {# Кнопки #}
    <div class="row mT-30">
        <div class="col">
            <button class="btn btn-primary">Сохранить</button>

            {% if create_new == false %}
                {{ include('common/forms/buttons/_delete_button.html.twig', {
                    'deleteUrl': path('product_delete', {'id': product.id})
                })}}
            {% endif %}
        </div>
    </div>
{{ form_end(form) }}
