{% extends 'common/layouts/xl-half-page/layout.page.menu.form.html.twig' %}

{% block breadcrumbs %}
    {{ breadcrumb(product.name, path('product_show', {'id': product.id})) }}
{% endblock %}

{% set title = 'Изменение товара' %}

{% block title %}{{ title }}{% endblock %}
{% block caption %}{{ title }}{% endblock %}

{% block menu %}{{ insert_menu('product_edit') }}{% endblock %}
