{% extends 'common/layouts/wide-page/layout.page.html.twig' %}

{% set title = 'Товары' %}

{% block title %}{{ title }}{% endblock %}
{% block caption %}{{ title }}{% endblock %}

{% block content %}
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th>Id</th>
                <th>Название</th>
                <th>Цена</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>
                    <a href="{{ path('product_show', {'id': product.id}) }}">
                        {{ product.name }}
                    </a>
                </td>
                <td>{{ product.price }}</td>
                <td>
                    <a href="{{ path('product_show', {'id': product.id}) }}"  class="no-decor">
                        <i class="fa fa-eye"></i>
                    </a>
                    <a href="{{ path('product_edit', {'id': product.id}) }}" class="no-decor">
                        <i class="fa fa-pencil"></i>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Ничего не найдено</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('product_new') }}" class="btn cur-p btn-primary">Добавить новый</a>
{% endblock %}
