{% extends 'common/layouts/xl-half-page/layout.page.html.twig' %}
{% register_js 'build/common/ckeditor/ckeditor.js' head %}

{% set title = 'Новый товар' %}

{% block title %}{{ title }}{% endblock %}
{% block caption %}{{ title }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col">
            {{ include('catalog/product/_form.html.twig', {'create_new': true }) }}
        </div>
    </div>
{% endblock %}
