{% extends 'common/layouts/wide-page/layout.page.html.twig' %}

{% set title = 'Товар' %}

{% block title %}{{ title }}{% endblock %}
{% block caption %}{{ title }}{% endblock %}

{% block content %}

    <div class="row">
        <div class="col">
            <h5>Общая информация</h5>
            <div class="pT-10">
                <table class="table">
                    <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ product.id }}</td>
                    </tr>
                    <tr>
                        <th>Name</th>
                        <td>{{ product.name }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="col">
                    <h5>Поставщики</h5>
                    <div class="pT-10">
                        Здесь будет информация о поставщиках
                    </div>
                </div>
            </div>

            <div class="row mT-20">
                <div class="col">
                    <h5>Характеристики</h5>
                    <div class="pT-10">
                        Здесь будет информация о характеристиках товара
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mT-20">
        <div class="col">
            <h5>Изображения</h5>
            <div class="pT-10">
                Здесь будет просмотр изображений товара товара
            </div>
        </div>
    </div>

    <div class="row mT-30">
        <div class="col">
            <a href="{{ path('product_edit', {'id': product.id}) }}" class="btn cur-p btn-primary">Изменить</a>

            {{ include('common/forms/buttons/_delete_button.html.twig', {
                'deleteUrl': path('product_delete', {'id': product.id})
            })}}
        </div>
    </div>


{% endblock %}
