{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn cur-p btn-primary">Сохранить</button>
    {% if delete_button == true %}
        {{ include('common/forms/buttons/_delete_button.html.twig', {
            'deleteUrl': path('supplier_delete', {'id': supplier.id})
        })}}
    {% endif %}
{{ form_end(form) }}
