{% extends 'common/layouts/layout.white-half-page.html.twig' %}

{% block breadcrumbs %}
    {{ breadcrumb(supplier.name, path('supplier_show', {'id': supplier.id})) }}
{% endblock %}

{% set title = 'Редактирование поставщика' %}

{% block title %}{{ title }}{% endblock %}
{% block caption %}{{ title }}{% endblock %}

{% block content %}
    {{ include('supply/supplier/_form.html.twig', {'delete_button': true }) }}
{% endblock %}
