{% extends 'common/layouts/layout.white-page.html.twig' %}

{% set title = 'Поставщики' %}

{% block title %}{{ title }}{% endblock %}
{% block caption %}{{ title }}{% endblock %}

{% block content %}
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th>{% trans %}Name{% endtrans %}</th>
                <th>{% trans %}Description{% endtrans %}</th>
                <th>Url</th>
                <th>{% trans %}Address{% endtrans %}</th>
                <th>{% trans %}Phones{% endtrans %}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for supplier in suppliers %}
            <tr>
                <td>
                    <a href="{{ path('supplier_show', {'id': supplier.id}) }}">
                        {{ supplier.name }}
                    </a>
                </td>
                <td>{{ supplier.description }}</td>
                <td>{{ supplier.url }}</td>
                <td>{{ supplier.address }}</td>
                <td>{{ supplier.phones }}</td>
                <td>
                    <a href="{{ path('supplier_show', {'id': supplier.id}) }}" class="no-decor">
                        <i class="fa fa-eye"></i>
                    </a>
                    <a href="{{ path('supplier_edit', {'id': supplier.id}) }}" class="no-decor">
                        <i class="fa fa-pencil"></i>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Ничего не найдено</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('supplier_new') }}" class="btn cur-p btn-primary">Добавить нового</a>
{% endblock %}
