{% extends 'common/layouts/layout.white-half-page.html.twig' %}

{% set title = 'Новый поставщик' %}

{% block title %}{{ title }}{% endblock %}
{% block caption %}{{ title }}{% endblock %}

{% block content %}
    {{ include('supply/supplier/_form.html.twig', {'delete_button': false }) }}
{% endblock %}
