{% extends 'common/layouts/layout.white-half-page.html.twig' %}

{% set title = 'Поставщик' %}

{% block title %}{{ title }}{% endblock %}
{% block caption %}{{ title }}{% endblock %}

{% block content %}
    <table class="table">
        <tbody>
        <tr>
            <th>{% trans %}Name{% endtrans %}</th>
            <td>{{ supplier.name }}</td>
        </tr>
        <tr>
            <th>{% trans %}Description{% endtrans %}</th>
            <td>{{ supplier.description }}</td>
        </tr>
        <tr>
            <th>Url</th>
            <td>{{ supplier.url }}</td>
        </tr>
        <tr>
            <th>{% trans %}Country{% endtrans %}</th>
            <td>{{ supplier.country }}</td>
        </tr>
        <tr>
            <th>{% trans %}Address{% endtrans %}</th>
            <td>{{ supplier.address }}</td>
        </tr>
        <tr>
            <th>{% trans %}Phones{% endtrans %}</th>
            <td>{{ supplier.phones }}</td>
        </tr>
        </tbody>
    </table>
    <a href="{{ path('supplier_edit', {'id': supplier.id}) }}" class="btn cur-p btn-primary">Изменить</a>
    {{ include('common/forms/buttons/_delete_button.html.twig', {
        'deleteUrl': path('supplier_delete', {'id': supplier.id})
    })}}
{% endblock %}
