$linkColor: #193588;

.logo {
    padding: 10px;
}

body {
    .table {
        thead th {
            border-bottom: 1px solid #dee2e6;
        }

        .thead-light th {
            background-color: #FFFFFF;
            border-top: none;
        }
    }

    a {
        color: $linkColor;

        &:hover {
            color: $linkColor;
            text-decoration: underline;
        }

        &:focus {
            color: $linkColor;
            text-decoration: none;
        }

        &.no-decor {
            &:hover {
                text-decoration: none;
            }
        }
    }
}
