<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ path('index') }}">Home</a>
        </li>
        {% for item in breadcrumbs %}
            <li class="breadcrumb-item {{ (item.children is defined) ? 'dropdown' : '' }}">
                {{ include('@IdolovMenu/breadcrumbsParts/item.html.twig', {'item': item }) }}

                {% if item.children is defined %}
                    <div class="dropdown-menu">
                        {% for child in item.children %}
                                {{ include('@IdolovMenu/breadcrumbsParts/dropdown_item.html.twig', {'item': child}) }}
                        {% endfor %}
                    </div>
                {% endif %}
            </li>
        {% endfor %}
    </ol>
</nav>

