<ul>
    {% for item in menu %}

        <li>
            <a
                href="{{ (item.url is empty) ? '#' : item.url }}"
                class="{{ (item.active is defined) ? 'active' : '' }}"
            >
                {{ item.title }}
            </a>
        </li>

    {% endfor %}
</ul>
