<ul>
    {% for item in menu %}

        <li>

            {% if item.active is defined %}
                <strong>
            {% endif %}

            <a href="{{ (item.route is empty) ? '#' : path(item.route) }}">
                <span>{{ item.title }}</span>
            </a>

            {% if item.active is defined %}
                </strong>
            {% endif %}

            {# Children items #}
            {% if item.children is defined %}
                <ul>
                    {% for child in item.children %}
                        <li>

                            {% if child.active is defined %}
                                <strong>
                            {% endif %}

                            <a href="{{ (child.route is empty) ? '#' : path(child.route) }}">
                                {{ child.title }}
                            </a>

                            {% if child.active is defined %}
                                </strong>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}

        </li>

    {% endfor %}
</ul>
