.explorer-app {

  .explorer-wrapper {
    margin: 0;
    overflow: auto;
    min-height: 100%;
    transition: all 0.3s ease-in-out;
    position: absolute;
    left: 0;
    width: 100%;
    overflow-x: hidden;
    padding: 0 10px;

    .explorer-side-nav {
      position: relative;
      padding: 0;
      width: 100%;
      overflow-y: hidden;
      background-color: $default-white;
      height: calc(100vh - #{$header-height});

      @include to($breakpoint-md) {
        max-height: calc(100vh - 65px);
      }

      @include from($breakpoint-md) {
        width: 40%;
        border-right: 1px solid $border-color;
        float: left;
      }
    }

    .explorer-content {
      float: left;
      width: 60%;
      position: relative;
      padding: 0;
      background-color: $default-white;
      // min-height: calc(100vh - #{$header-height});

      &.no-inbox-view {
        width: 100%;
      }

      @include to($breakpoint-md) {
        position: absolute;
        top: 0;
        left: 100%;
        width: 100%;
        height: 100%;
        transition: all 0.3s ease-in-out;
        max-height: calc(100vh - #{$header-height});
        overflow-y: scroll;

        &.open {
          left: 0;
        }
      }
    }

      .email-compose {
        position: relative;
      .email-compose-body {
        padding: 30px 20px;

      }
      }
    }
}
