// ---------------------------------------------------------
// @TOC

// + @PageMenu

// ---------------------------------------------------------
// @PageMenu
// ---------------------------------------------------------
.page-menu {
  .nav-item {
    &:hover a {
      text-decoration: underline;
    }

    .active {
      color: black;
    }
  }
}


