// ---------------------------------------------------------
// @TOC
// ---------------------------------------------------------

// + @Sidebar
// + @Sidebar Inner
// + @Sidebar Header
// + @Sidebar Menu
// + @Sidebar Collapsed

// ---------------------------------------------------------
// @Sidebar
// ---------------------------------------------------------

.sidebar {
  background-color: $default-soft-grey;
  bottom: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 64px;
  transition: all 0.2s ease;
  width: $sidebar-fat-part-width;
  z-index: 1000;
  height: 102vh;

  ul {
    list-style-type: none;
  }

  @include to($breakpoint-md) {
    left: -$sidebar-fat-part-width;
  }

  .dropdown-menu {
    z-index: 0;
  }


// ---------------------------------------------------------
// @Sidebar Crawl-down bar
// ---------------------------------------------------------

  .crawl-down-bar {
    @include clearfix;
    height: calc(100vh - #{$header-height});
    margin: 0;
    overflow: auto;
    padding: 0;
    position: relative;
    box-shadow: inset 0 6px 6px -8px #333;
    border-top: 1px solid #fcfcfc;
    background-color: #f0f1f3;

    .crawl-down-close {
      position: absolute;
      height: 40px;
      width: 40px;
      top: 0;
      right: 0;
      display: flex;
      justify-content: center;
      flex-direction: row;
      align-content: center;
      align-items: center;
      cursor: pointer;
      z-index: 1000;
    }

    .crawl-down-title {
      margin: 30px 0 10px 0;
      font-weight: 400;
      font-size: 1.5em;
      padding: 0 30px;
    }
  }
}

// ---------------------------------------------------------
// @Sidebar Inner
// ---------------------------------------------------------

.sidebar-inner {
  position: relative;
  height: 100%;
}

// ---------------------------------------------------------
// @Sidebar Header
// ---------------------------------------------------------

.sidebar-logo {
  line-height: 0;
  padding: 0 20px;
  transition: all 0.2s ease;

  a {
    display: inline-block;
    width: 100%;

    .logo {
      background-position: center left;
      background-repeat: no-repeat;
      display: inline-block;
      min-height: calc(#{$header-height} - 1px);
      width: 100%;
      width: 70px;
    }

    .logo-text {
      color: $grey-900;
    }
  }

  .mobile-toggle {
    display: none;
    float: right;
    font-size: 18px;
    line-height: calc(#{$header-height} - 1px);

    a {
      color: $sidebar-link-color;
      font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    }

    @include to($breakpoint-md) {
      display: inline-block;
    }

    @include from($breakpoint-md) {
      display: none;
    }
  }
}

// ---------------------------------------------------------
// @Sidebar Menu
// ---------------------------------------------------------

.sidebar-menu {
  @include clearfix;
  height: calc(100vh - #{$header-height});
  list-style: none;
  margin: 0;
  overflow: auto;
  padding: 0;
  position: relative;

  .dropdown-toggle::after {
    display: none;
  }

  .sidebar-link {
    &.active {
      background-color: $sidebar-active-link-bgcolor;
    }
    &.active::before {
      background: $default-actionbar-color;
      content: '';
      display: block;
      height: 10px;
      left: -6px;
      position: absolute;
      top: calc(50% - 5px);
      width: 10px;
      transform: rotate(45deg);
    }
  }

  li {
    position: relative;

    &.dropdown {
      .arrow {
        font-size: 10px;
        line-height: 27px;
        position: absolute;
        right: 15px;
        transition: all 0.05s ease-in;
      }

      &.open {
        > a {
          color: $default-dark;

          > .arrow {
            transform: rotate(90deg);
          }
        }

        > .dropdown-menu {
          display: block;

          .dropdown-menu {
            padding-left: 20px;
          }

          .arrow {
            line-height: 25px;
          }
        }
      }
    }

    a {
      color: $sidebar-link-color;
      transition: none;

      &:hover {
        text-decoration: none;
        background-color: $sidebar-active-link-bgcolor;
      }
    }
  }

  > li {
    &.dropdown {
      ul {
        &.dropdown-menu {
          background-color: transparent;
          border-radius: 0;
          border: 0;
          box-shadow: none;
          float: none;
          padding-left: 0;
          padding-top: 0;
          position: relative;
          width: 100%;
          margin: 0;

          > li {
            > a {
              display: block;
              padding: 8px 15px 8px 65px;

              &:hover {
                background-color: $sidebar-active-link-bgcolor;
                color: $default-dark;
              }
            }

            &.active {
              a {
                color: $default-dark;
              }
            }
          }
        }
      }
    }

    > a {
      display: block;
      font-size: 15px;
      font-weight: 300;
      padding: 5px 15px;
      position: relative;
      white-space: nowrap;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

      .icon-holder {
        border-radius: 20px;
        display: inline-block;
        font-size: 15px;
        height: 25px;
        left: 0;
        line-height: 23px;
        margin-right: 4px;
        margin-left: 15px;
        position: relative;
        text-align: center;
        transition: all 0.3s ease;
        width: 25px;
        color: #31475a;
      }
    }
  }
}

// ---------------------------------------------------------
// @Sidebar Collapsed
// ---------------------------------------------------------

.is-collapsed {
  &.app {
    overflow: hidden;
  }

  .sidebar {
    @include to($breakpoint-md) {
      left: $sidebar-fit-part-width;
    }
  }

  .sidebar {
    @include between($breakpoint-sm, $breakpoint-md) {
      left: 0;
    }
  }

  .actionbar {
    @include to($breakpoint-md) {
      left: 0;
    }
  }
}


// ---------------------------------------------------------
// @Actionbar
// ---------------------------------------------------------

.actionbar {
  @include to($breakpoint-sm) {
    left: -$sidebar-fit-part-width;
  }
  display: -webkit-flex;
  display: flex;
  bottom: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  transition: all 0.2s ease;
  width: $sidebar-fit-part-width;
  z-index: 1000;
  background-color: $default-actionbar-color;
  height: 102vh;

  .top-buttons {
    align-items: center;
    -moz-box-align: center;
    color: rgb(222, 235, 255);
    background-color: $default-actionbar-color;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
    width: $sidebar-fit-part-width;
  }

  .buttons-wrapper {
    -moz-box-flex: 1;
    flex: 1 1 0px;
  }

  .buttons-group {
    box-sizing: border-box;
  }

  .buttons-group:first-child {
    @include from($breakpoint-md) {
      display: none;
    }

    @include to($breakpoint-sm) {
      display: none;
    }
  }

  .buttons-group:nth-child(2) {
    @include from($breakpoint-md) {
      margin-bottom: 25px;
    }

    @include to($breakpoint-sm) {
      margin-bottom: 25px;
    }
  }

  .item {
    font-size: 1.7em;
    height: 3rem;
    width: 3rem;
    padding: 0;
    -webkit-align-items: center;
    align-items: center;
    -moz-box-pack: center;
    -moz-box-align: center;
    justify-content: center;
    display: -webkit-flex;
    display: flex;
    border-radius: 50%;
    cursor: pointer;
    color: white;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;

    &:hover {
      background-color: $default-actionbar-btn-bg-hover-color;
    }

    &.active {
      background-color: $default-actionbar-btn-bg-color;
    }
  }


}
