// ---------------------------------------------------------
// @TOC

// + @Topbar
// + @Collapsed State

// ---------------------------------------------------------
// @Topbar
// ---------------------------------------------------------

.header {
  background-color: $default-white;
  display: block;
  margin-bottom: 0;
  padding: 0;
  position: fixed;
  transition: all 0.2s ease;
  width: 100%;
  z-index: 800;

  @include between($breakpoint-sm, $breakpoint-md) {
    width: calc(100% - #{$collapsed-size});
  }

  @include from($breakpoint-md) {
    width: calc(100% - #{$sidebar-width});
  }

  .header-container {
    @include clearfix;

    height: $header-height;

    .nav-left,
    .nav-right,
    .nav-sidebar-toggle {
      list-style: none;
      margin-bottom: 0;
      padding-left: 0;
      position: relative;
      height: $header-height;
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .nav-sidebar-toggle {
      float: left;
      margin-left: 20px;
      font-size: 1.7em;
      a:hover {
        text-decoration: none;
      }

      @include from($breakpoint-sm) {
        display: none;
      }
    }

    .nav-left {
      float: left;
      padding-left: 20px;

      &.collapsed {
        position: fixed;
        background: white;
        width: 100%;
        flex-wrap: wrap;
        z-index: 9999;

        .breadcrumb {
          width: 80vw;
          .breadcrumb-item {
            &:not(.its-toggle) {
              @include to($breakpoint-sm) {
                display: inline-block;
              }
            }
          }

          .breadcrumb-item-toggle {
            display: none;
          }
        }

        .breadcrumb-close {
          flex-grow: 1;
          display: flex;
          flex-direction: row-reverse;
          align-self: stretch;
          align-items: center;
          padding-right: 20px;

          .close-btn {
            cursor: pointer;
          }
        }
      }

      .breadcrumb-close {
        display: none;
      }

      .breadcrumb {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        margin-bottom: 0;
        list-style: none;
        background-color: transparent;
        border: none;

        .breadcrumb-item {
          &:not(.its-toggle) {
            @include to($breakpoint-sm) {
              display: none;
            }
          }
        }

        .breadcrumb-item-toggle {
          padding-left: 0.5rem;
          cursor: pointer;

          @include from($breakpoint-sm) {
            display: none;
          }

          &::before {
            display: inline-block;
            padding-right: 0.5rem;
            color: #6c757d;
            content: "/";
          }

          &::after {
            display: inline-block;
            padding-left: 0.5rem;
            color: #6c757d;
            content: "/";
          }
        }

        .dropdown-menu {
          display: none;
          margin: 0;

          .divider {
            border-bottom: 1px solid $border-color;
            height: 1px;
            overflow: hidden;
          }

          a {
            transition: none;
          }
        }

        .show {
          .dropdown-menu {
            display: block;
          }
        }

        a {
          &.dropdown-toggle {
            &::after {
              margin-left: 6px;
              vertical-align: 3px;
            }
          }
        }

        span {
          &.dropdown-toggle {
            cursor: pointer;

            &::after {
              margin-left: 2px;
              vertical-align: 3px;
            }
          }
        }
      }
    }

    .nav-right {
      float: right;
      margin-right: 20px;

      button {
        margin-left: 5px;
      }
    }
  }
}
