{# Занимает полстраницы на большом разрешении #}
{# Содержит меню и форму (некую активную область) #}
{% extends 'common/layouts/xl-half-page/layout.page.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col">
            {% block menu %}{% endblock %}
        </div>
    </div>
    <div class="row mT-30">
        <div class="col">
            {% block form %}{% endblock %}
        </div>
    </div>
{% endblock %}
