{% extends 'common/layouts/layout.html.twig' %}

{% block title %}Каталог{% endblock %}

{% block content %}
    <main role="main">

        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron">
            <div class="container">
                Здесь будет экран конструктора бус
                <div id="beads-designer-container"></div>
            </div>
        </div>

        <div class="container first">
            <div id="root"></div>
        </div>
        <div class="container catalog">
            <div class="row content">

                <div class="col-lg-2 col-sm-6 text-center mb-4 bead">
                    <img src="/images/bead1.jpg" class="rounded-circle img-fluid d-block mx-auto" alt="">
                    <button type="button" class="btn btn-light" onclick="beadDesigner.onAddBead(1, 1);">Добавить</button>
                </div>

                <div class="col-lg-2 col-sm-6 text-center mb-4 bead">
                    <img class="rounded-circle img-fluid d-block mx-auto" src="/images/bead2.jpg" alt="">
                    <button type="button" class="btn btn-light" onclick="beadDesigner.onAddBead(2, 2);">Добавить</button>
                </div>

                <div class="col-lg-2 col-sm-6 text-center mb-4 bead">
                    <img class="rounded-circle img-fluid d-block mx-auto" src="/images/bead3.jpg" alt="">
                    <button type="button" class="btn btn-light" onclick="beadDesigner.onAddBead(3, 3);">Добавить</button>
                </div>

                <div class="col-lg-2 col-sm-6 text-center mb-4 bead">
                    <img class="rounded-circle img-fluid d-block mx-auto" src="/images/bead4.jpg" alt="">
                    <button type="button" class="btn btn-light" onclick="beadDesigner.onAddBead(4, 4);">Добавить</button>
                </div>

                <div class="col-lg-2 col-sm-6 text-center mb-4 bead">
                    <img class="rounded-circle img-fluid d-block mx-auto" src="/images/bead5.jpg" alt="">
                    <button type="button" class="btn btn-light" onclick="beadDesigner.onAddBead(5, 5);">Добавить</button>
                </div>

                <!--<div class="col-lg-2 col-sm-6 text-center mb-4 bead">
                    <img class="rounded-circle img-fluid d-block mx-auto" src="/images/bead6.jpg" alt="">
                    <button type="button" class="btn btn-light" onclick="beadDesigner.onAddBead(6, 6);">Добавить</button>
                </div>

                <div class="col-lg-2 col-sm-6 text-center mb-4 bead">
                    <img class="rounded-circle img-fluid d-block mx-auto" src="/images/bead7.jpg" alt="">
                    <button type="button" class="btn btn-light" onclick="beadDesigner.onAddBead(7, 7);">Добавить</button>
                </div>

                <div class="col-lg-2 col-sm-6 text-center mb-4 bead">
                    <img class="rounded-circle img-fluid d-block mx-auto" src="/images/bead8.jpg" alt="">
                    <button type="button" class="btn btn-light" onclick="beadDesigner.onAddBead(8, 8);">Добавить</button>
                </div>

                <div class="col-lg-2 col-sm-6 text-center mb-4 bead">
                    <img class="rounded-circle img-fluid d-block mx-auto" src="/images/bead9.jpg" alt="">
                    <button type="button" class="btn btn-light" onclick="beadDesigner.onAddBead(9, 9);">Добавить</button>
                </div>-->

                <div class="col-lg-2 col-sm-6 text-center mb-4 bead">
                    <img class="rounded-circle img-fluid d-block mx-auto" src="/images/bead10.jpg" alt="">
                    <button type="button" class="btn btn-light" onclick="beadDesigner.onAddBead(10, 10);">Добавить</button>
                </div>
            </div>

        </div>


        <div class="container">
            <!-- Introduction Row -->
            <h1 class="my-4">Заголовок категории бусин</h1>
            <p>Здесь будет небольшой текст с описанием данной категории бусин. Он необходим для SEO и полезен для покупателя. Здесь может содержаться краткое описание материалов, из которых изготовлены бусины, информация о стране производителе или просто общаяя информация.</p>

            <!-- Team Members Row -->
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="my-4">Сами бусины</h2>
                </div>
                <div class="col-lg-4 col-sm-6 text-center mb-4">
                    <img class="rounded-circle img-fluid d-block mx-auto" src="{{ asset('build/tmp/images/test-beads/bead1.jpg') }}" alt="" width="200">
                    <h3>20 <small>р.</small>
                    </h3>
                    <p>
                        <b>Размер:</b> 200x200 <br>
                        <b>Цвет:</b> Розовый <br>
                        <a href="#">Добавить</a>
                    </p>
                </div>
                <div class="col-lg-4 col-sm-6 text-center mb-4">
                    <img class="rounded-circle img-fluid d-block mx-auto" src="{{ asset('build/tmp/images/test-beads/bead2.jpg') }}" alt="" width="200">
                    <h3>25 <small>р.</small>
                    </h3>
                    <p>
                        <b>Размер:</b> 200x200 <br>
                        <b>Цвет:</b> Синий <br>
                        <a href="#">Добавить</a>
                    </p>
                </div>
                <div class="col-lg-4 col-sm-6 text-center mb-4">
                    <img class="rounded-circle img-fluid d-block mx-auto" src="{{ asset('build/tmp/images/test-beads/bead3.jpg') }}" alt="" width="200">
                    <h3>12 <small>р.</small>
                    </h3>
                    <p>
                        <b>Размер:</b> 200x200 <br>
                        <b>Цвет:</b> Зеленый <br>
                        <a href="#">Добавить</a>
                    </p>
                </div>
                <div class="col-lg-4 col-sm-6 text-center mb-4">
                    <img class="rounded-circle img-fluid d-block mx-auto" src="{{ asset('build/tmp/images/test-beads/bead4.jpg') }}" alt="" width="200">
                    <h3>15 <small>р.</small>
                    </h3>
                    <p>
                        <b>Размер:</b> 200x200 <br>
                        <b>Цвет:</b> Фиолетовый <br>
                        <a href="#">Добавить</a>
                    </p>
                </div>
                <div class="col-lg-4 col-sm-6 text-center mb-4">
                    <img class="rounded-circle img-fluid d-block mx-auto" src="{{ asset('build/tmp/images/test-beads/bead6.jpg') }}" alt="" width="200">
                    <h3>14<small>р.</small>
                    </h3>
                    <p>
                        <b>Размер:</b> 200x200 <br>
                        <b>Цвет:</b> Фиолетовый <br>
                        <a href="#">Добавить</a>
                    </p>
                </div>
                <div class="col-lg-4 col-sm-6 text-center mb-4">
                    <img class="rounded-circle img-fluid d-block mx-auto" src="{{ asset('build/tmp/images/test-beads/bead7.jpg') }}" alt="" width="200">
                    <h3>17 <small>р.</small>
                    </h3>
                    <p>
                        <b>Размер:</b> 200x200 <br>
                        <b>Цвет:</b> Желтый <br>
                        <a href="#">Добавить</a>
                    </p>
                </div>
                <div class="col-lg-4 col-sm-6 text-center mb-4">
                    <img class="rounded-circle img-fluid d-block mx-auto" src="{{ asset('build/tmp/images/test-beads/bead5.jpg') }}" alt="" width="200">
                    <h3>30 <small>р.</small>
                    </h3>
                    <p>
                        <b>Размер:</b> 200x200 <br>
                        <b>Цвет:</b> Фиолетовый <br>
                        <a href="#">Добавить</a>
                    </p>
                </div>
            </div>

            <hr>
        </div> <!-- /container -->

    </main>

    <footer class="container">
        <p>&copy; Mororo 2017-2018</p>
    </footer>
{% endblock %} {# content#}

 {% block javascripts_footer %}
     {{ parent() }}
     <script type="text/javascript">
         $('#example').tooltip();
     </script>
 {% endblock %}

