{% extends 'common/layouts/layout.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col">
            <h4>{% block caption %}{% endblock %}</h4>
            {% block content %}{% endblock %}
        </div>
    </div>
{% endblock %}
