{% extends 'common/layouts/layout.html.twig' %}

{% block title %}Заказы{% endblock %}

{% block content %}
    <main role="main">
        <div class="container">
            <!-- Introduction Row -->
            <div class="row">
                <h1 class="my-4">Заказы</h1>
                <p>Здесь будет небольшой текст с описанием данной категории бусин. Он необходим для SEO и полезен для покупателя. Здесь может содержаться краткое описание материалов, из которых изготовлены бусины, информация о стране производителе или просто общаяя информация.</p>
            </div>
        </div> <!-- /container -->
    </main>

    <footer class="container">
        <p>&copy; Mororo 2017-2018</p>
    </footer>
{% endblock %} {# content#}

 {% block javascripts_footer %}
     {{ parent() }}
     <script type="text/javascript">
         $('#example').tooltip();
     </script>
 {% endblock %}

