//colors
$white: white;
$color_star_dust_approx: #9da1a5;

// opacity
$image-button-opacity:  0.9;

.image-container {
    padding: 0;
    border: 0;
    background: none;
    position: relative;
    &.main-image {
        .main-image-icon {
            position: absolute;
            top: 0.30rem;
            left: 0.30rem;
            color: $white;
            background-color: $color_star_dust_approx;
            transition: opacity .2s;
            padding: 2px 7px 4px 4px;
            font-size: 15px;
            border-bottom-right-radius: 5px;
            z-index: 1;
        }
        .image-buttons {
            right: 0.30rem;
            top: 0.35rem;
            left: 0.35rem;
        }
        .img-thumbnail {
            border: 5px solid $color_star_dust_approx;
        }
    }
    .image-buttons {
        position: absolute;
        right: 0.25rem;
        top: 0.25rem;
        left: 0.25rem;
        margin: auto;
        opacity: 0;
        background-color: $white;
        transition: opacity .2s;
        padding: 5px;
        font-size: 25px;
        .nav-left {
            float: left;
            padding-left: 10px;
        }
        .nav-right {
            float: right;
            padding-right: 10px;
        }
    }
    &:hover .image-buttons {
        opacity: $image-button-opacity;
    }
    &.collapsed .image-buttons {
        opacity: $image-button-opacity;
    }
}
