{% extends 'catalog/product/edit.html.twig' %}

{% register_js 'build/common/filepond/filepond.min.js' head %}
{% register_css 'build/common/filepond/filepond.min.css' %}
{% register_js 'build/app-admin/frontend/packages/upload-images.js' head %}
{% register_css 'build/app-admin/frontend/packages/upload-images.css' %}

{% block title %}Изменение товара | Изображения{% endblock %}
{% block caption %}Изменение товара{% endblock %}

{% block form %}

    {# Кнопка открытия модального окна для загрузки изображений #}
    <div class="row">
        <div class="col-8">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#upload-modal" data-backdrop="static" data-keyboard="false">
                Добавить изображения
            </button>
        </div>
    </div>

    {# Список загруженных изображений #}
    <div class="row align-items-center mT-20">
            {% for image in images %}
                <div class="col-6 col-sm-4 pB-20">
                    <div class="image-container {{ image.isMain ? 'main-image' : '' }}">
                        <img src="{{ image.url }}" class="img-thumbnail">

                        {% if image.isMain %}
                            <div class="main-image-icon">
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                            </div>
                        {% endif %}

                        <div class="image-buttons">
                            <div class="nav-left align-items-left">
                                {% if not image.isMain %}
                                    <div class="img-btn img-main-btn" data-target="">
                                        <a href="{{ path('product_main_image', {'id': image.id}) }}" class="no-decor" title="Сделать основным">
                                            <i class="fa fa-star-o" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="nav-right align-items-right">
                                <div class="img-btn img-delete-btn" data-target="">
                                    <a href="{{ path('product_delete_image', {'id': image.id}) }}" class="no-decor" title="Удалить изображение" onclick="return confirm('Вы уверены, что хотите удалить это изображение?');">
                                        <i class="ti-trash" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="col">
                    Изображения не загружены
                </div>
            {% endfor %}
    </div>

    {# Модальное окно загрузки изображений #}
    <div class="modal" id="upload-modal"  tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title">Загрузка изображений</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body">
                    <input type="file" multiple>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-info close-uploads" data-dismiss="modal">Готово</button>
                </div>
            </div>
        </div>
    </div>

    {# Скрипт загрузки изображений #}
    <script>
        FilePond.setOptions({
            server: {
                process: '{{ path('product_upload_images', {'id': product.id}) }}',
            }
        });
    </script>

{% endblock %}
