{% extends 'catalog/product/edit.html.twig' %}

{% register_js 'build/common/ckeditor/ckeditor.js' head %}

{% block form %}
    {{ include('catalog/product/_form.html.twig', {'create_new': false }) }}
{% endblock %}
