{% extends 'common/layouts/layout.html.twig' %}

{% block title %}Главная{% endblock %}

{% block content %}
    <main role="main">
        <div class="container">
            <!-- Introduction Row -->
            <h1 class="my-4">Главная страница</h1>
            <p>Здесь будет небольшой текст с описанием данной категории бусин. Он необходим для SEO и полезен для покупателя. Здесь может содержаться краткое описание материалов, из которых изготовлены бусины, информация о стране производителе или просто общаяя информация.</p>

        </div> <!-- /container -->

    </main>

    <footer class="container">
        <p>&copy; Mororo 2017-2018</p>
    </footer>
{% endblock %} {# content#}

 {% block javascripts_footer %}
     {{ parent() }}
     <script type="text/javascript">
         $('#example').tooltip();
     </script>
 {% endblock %}

