<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Mororo.ru{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/common/frontend/css/style.css') }}"/>
            <link rel="stylesheet" href="{{ asset('build/app-index/frontend/css/style.css') }}"/>
        {% endblock %}
    </head>
    <body>
        {% block body %}
            {% block navbar %}
            <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
                <a class="navbar-brand" href="/">
                    <img src="{{ asset('build/common/frontend/images/dino.png') }}" alt="Mororo" width="36"/>
                    Mororo
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="catalog">Каталог</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/profile">Профиль</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin.php">Admin</a>
                        </li>
                    </ul>
                </div>
            </nav>
            {% endblock %} {# navbar #}

            {% block content %} {% endblock %}
        {% endblock %} {# body #}

        {% block javascripts_footer %}
            <script type="text/javascript" src="{{ asset('build/common/frontend/js/script.js') }}"></script>
            <script type="text/javascript" src="{{ asset('build/app-index/frontend/js/script.js') }}"></script>
        {% endblock %}
    </body>
</html>
