<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item its-toggle">
            <a href="{{ path('index') }}">
                <i class="fa fa-home" aria-hidden="true"></i>
            </a>
        </li>
        <li class="breadcrumb-item breadcrumb-item-toggle its-toggle">
            <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
        </li>
        {% for item in breadcrumbs %}
            <li class="breadcrumb-item {{ (item.children is defined) ? 'dropdown' : '' }}">
                {{ include('common/breadcrumbs/item.html.twig', {'item': item }) }}

                {% if item.children is defined %}
                    <div class="dropdown-menu">
                        {% for child in item.children %}
                                {{ include('common/breadcrumbs/dropdown_item.html.twig', {'item': child}) }}
                        {% endfor %}
                    </div>
                {% endif %}
            </li>
        {% endfor %}
    </ol>
</nav>
<div class="breadcrumb-close"><i class="ti-close close-btn"></i></div>

