{% extends 'common/layouts/wide-page/layout.page.html.twig' %}

{% register_js 'build/app-admin/frontend/packages/fancytree.js' head %}
{% register_css 'build/app-admin/frontend/packages/fancytree.css' %}

{% set title = 'Категории товаров' %}

{% block title %}{{ title }}{% endblock %}
{% block caption %}{{ title }}{% endblock %}

{% block content %}

    <div class="explorer-app">
        <div class="explorer-wrapper row remain-height bgc-white ov-h">
            <div class="explorer-side-nav h-100 layers">
                <div class="layer w-100">
                    <div class="peers ai-c jc-sb pB-10 pL-5 pR-5 fxw-nw">
                        <div class="peer">
                            <div class="btn-group pT-5" role="group">
                                <button type="button" class="btn btn-sm bdrs-2 mR-3 cur-p btn-collapse"><i
                                            class="ti-angle-double-up"></i>
                                </button>
                                <button type="button" class="btn btn-sm bdrs-2 mR-3 cur-p btn-expand"><i
                                            class="ti-angle-double-down"></i>
                                </button>
                                <div class="search-box">
                                    <input id="searchinput" name="search" type="text" class="form-control search" placeholder="Поиск категорий">
                                    <div class="search-cleaner" style="visibility: hidden"><i class="ti-close"></i></div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="layer w-100 fxg-1 scrollable pos-r">
                    <div class="tree-container">
                        <div id="tree"></div>
                    </div>
                </div>
            </div>
            <div class="explorer-content h-100">
                <div class="h-100 scrollable pos-r">

                    <div class="explorer-content-wrapper">
                        <!-- Header -->
                        <div class="peers ai-c jc-sb pX-40 pY-30">
                            <div class="peers peer-greed">
                                <div class="peer mR-20">
                                    <img class="bdrs-50p w-3r h-3r" alt="" src="https://randomuser.me/api/portraits/men/11.jpg">
                                </div>
                                <div class="peer">
                                    <small>Nov, 02 2017</small>
                                    <h5 class="c-grey-900 mB-5">John Doe</h5>
                                    <span>To: email@gmail.com</span>
                                </div>
                            </div>
                            <div class="peer">
                                <a href="" class="btn btn-danger bdrs-50p p-15 lh-0">
                                    <i class="fa fa-reply"></i>
                                </a>
                            </div>
                        </div>

                        <!-- Content -->
                        <div class="bdT pX-40 pY-30">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>









    <script type="text/javascript">
        $(document).ready(function () {
            let source = [
                {title: "Фетровые книжки", folder: true, key: "1"},
                {
                    title: "Силиконовые бусины", key: "2", folder: true, children: [
                    {title: "Круглые", key: "3", folder: true},
                    {title: "Овальные", key: "4", folder: true},
                    {title: "Буквы", key: "5", folder: true},
                ]
                },
                {
                    title: "Деревянные бусины", key: "6", folder: true, children: [
                    {title: "Круглые", key: "7", folder: true},
                    {title: "Овальные", key: "8", folder: true},
                    {title: "Буквы", key: "9", folder: true},
                    {title: "Фигурки", key: "10", folder: true},
                ]
                },
                {title: "Застежки для бус", folder: true, key: "11"},
                {
                    title: "Подарки", key: "12", folder: true, children: [
                    {title: "Игрушки", key: "13", folder: true},
                    {
                        title: "Книги", key: "14", folder: true, children: [
                        {title: "Про зверей", key: "15", folder: true},
                        {title: "Познавательные", key: "16", folder: true},
                        {title: "Интересные", key: "17", folder: true},
                    ]
                    },
                    {title: "Конструкторы", key: "18", folder: true},
                ]
                },
            ];

            fancytree.createTree("#tree", {
                source: [{
                    title: "Каталог", key: "root", folder: true, children: source
                }],
                extensions: ['edit', 'dnd5', 'filter', 'glyph'],
                autoScroll: true, // Automatically scroll nodes into visible area
                clickFolderMode: 1, // 1:activate, 2:expand, 3:activate and expand, 4:activate (dblclick expands)
                debugLevel: 0, // 0:quiet, 1:errors, 2:warnings, 3:infos, 4:debug
                icon: true, // Display node icons
                quicksearch: true, // Navigate to next node by typing the first letters
                selectMode: 3, // 1:single, 2:multi, 3:multi-hier
                tabindex: 0, // Whole tree behaves as one single control
                minExpandLevel: 2, // 1: root node is not collapsible
                titlesTabbable: true, // Node titles can receive keyboard focus
                tooltip: true, // Use title as tooltip (also a callback could be specified)
                dnd5: {
                    dragStart: function (node, data) {
                        return true;
                    },
                    dragEnter: function (node, data) {
                        return true;
                    },
                    dragDrop: function (node, data) {
                        data.otherNode.copyTo(node, data.hitMode);
                    }
                },
                glyph: {
                    preset: "awesome4",
                    map: {}
                },
                filter: {
                    autoApply: true,   // Re-apply last filter if lazy data is loaded
                    autoExpand: true, // Expand all branches that contain matches while filtered
                    counter: false,     // Show a badge with number of matching child nodes near parent icons
                        fuzzy: false,      // Match single characters in order, e.g. 'fb' will match 'FooBar'
                    hideExpandedCounter: true,  // Hide counter badge if parent is expanded
                    hideExpanders: false,       // Hide expanders if all child nodes are hidden by filter
                    highlight: false,   // Highlight matches by wrapping inside <mark> tags
                    leavesOnly: false, // Match end nodes only
                    nodata: true,      // Display a 'no data' status node if result is empty
                    mode: "dimm"       // Grayout unmatched nodes (pass "hide" to remove unmatched node instead)
                },

            });

            let tree = fancytree.getTree('#tree');
            let search = $('input[name=search]');
            let searchCleaner = $('.search-cleaner');

            const closeSearch = function ()
            {
                $("input[name=search]").val("");
                tree.clearFilter();
                searchCleaner.css('visibility', 'hidden');
            };

            searchCleaner.on('click', function(e){
                closeSearch();
            });

            search.on('change', function(e){
                $(document.activeElement).filter(':input:focus').blur();
            })

            .on('keyup', function(e){
                const KEYCODE_ESCAPE = 27;
                let filterFunc = tree.filterNodes;
                let match = $(this).val();

                if ($.trim(match) === "" || (e && e.which === KEYCODE_ESCAPE)) {
                    closeSearch();
                    return;
                }

                filterFunc.call(tree, match);
                searchCleaner.css('visibility', 'visible');
            }).focus();

            $('.btn-expand').on('click', function () {
                tree.expandAll();
            });

            $('.btn-collapse').on('click', function () {
                tree.expandAll(false)
            });
        });
    </script>
{% endblock %}
