<ul class="sidebar-menu scrollable pos-r">
    {% for item in menu %}

        <li class="nav-item {{ loop.first ? 'mT-30' : '' }} {{ (item.children is defined) ? 'dropdown' : '' }}">
            <a class="sidebar-link top-level
                    {{ (item.active is defined) ? 'active' : '' }}
                    {{ (item.children is defined) ? 'dropdown-toggle' : '' }}"
               href="{{ (item.route is empty) ? '#' : path(item.route) }}"
            >
                {% if not item.icon is empty %}
                    <span class="icon-holder">
                        <i class="fa {{ item.icon }}" aria-hidden="true"></i>
                    </span>
                {% endif %}

                <span class="title">{{ item.title }}</span>

                {% if item.children is defined %}
                    <span class="arrow">
                      <i class="ti-angle-right"></i>
                    </span>
                {% endif %}
            </a>

            {# Children items #}
            {% if item.children is defined %}
                <ul class="dropdown-menu">
                    {% for child in item.children %}
                        <li>
                            <a class='sidebar-link sub-level {{ (child.active is defined) ? 'active' : '' }}'
                               href="{{ path(child.route) }}"
                            >
                                {{ child.title }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}

        </li>

    {% endfor %}
</ul>
