<ul class="nav page-menu">
    {% for item in menu %}

        <li class="nav-item">
            <a
                href="{{ (item.url is empty) ? '#' : item.url }}"
                class="nav-link {{ (item.active is defined) ? 'active' : '' }}"
            >
                {% if item.active is defined %}
                    <i class="{{ item.icon }}"></i>
                {% endif %}
                {{ item.title }}
            </a>
        </li>

    {% endfor %}
</ul>
