{% if item.route is not empty %}
    <a href="{{ path(item.route) }}" class="dropdown-item">{{ item.title }}</a>
{% elseif item.url is not empty %}
    <a href="{{ item.url }}" class="dropdown-item">{{ item.title }}</a>
{% else %}
    <span class="dropdown-item">{{ item.title }}</span>
{% endif %}
