{% if item.route is not empty %}
    {% set url = path(item.route) %}
{% elseif item.url is not empty %}
    {% set url = item.url %}
{% endif %}


{% if (item.children is defined) and (url is defined) %}

    <a href="{{ url }}" >{{ item.title }}</a><a
        class="dropdown-toggle"
        href="#"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
    ></a>

{% elseif item.children is defined %}

    <span class="dropdown-toggle no-decor" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
        {{ item.title }}
    </span>

{% elseif url is defined %}

    <a href="{{ url }}">{{ item.title }}</a>

{% else %}

    {{ item.title }}

{% endif %}
