<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>
    {% block stylesheets %}
        {% insert_stylesheets %}
    {% endblock %}

    {% block javascripts_head %}
        {% insert_scripts head %}
    {% endblock %}
</head>
<body class="app">
{% block javascripts_body %}
    {%  insert_scripts body_begin %}
{% endblock %}

{% block body %}{% endblock %}

{% block javascripts_footer %}
    {%  insert_scripts body_end %}
{% endblock %}
</body>
</html>
