<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('build/common/frontend/css/style.css') }}"/>
        <link rel="stylesheet" href="{{ asset('build/app-admin/frontend/app.css') }}"/>
        {# todo Не забыть убрать #}
        <link rel="stylesheet" href="/style.css"/>

        {% insert_stylesheets %}
    {% endblock %}

    {% block javascripts_head %}
        <script type="text/javascript" src="{{ asset('build/common/frontend/js/script.js') }}"></script>
        {% insert_scripts head %}
    {% endblock %}

    <style>
        #loader {
            transition: all 0.3s ease-in-out;
            opacity: 1;
            visibility: visible;
            position: fixed;
            height: 100vh;
            width: 100%;
            background: #fff;
            z-index: 90000;
        }

        #loader.fadeOut {
            opacity: 0;
            visibility: hidden;
        }

        .spinner {
            width: 40px;
            height: 40px;
            position: absolute;
            top: calc(50% - 20px);
            left: calc(50% - 20px);
            background-color: #333;
            border-radius: 100%;
            -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
            animation: sk-scaleout 1.0s infinite ease-in-out;
        }

        @-webkit-keyframes sk-scaleout {
            0% { -webkit-transform: scale(0) }
            100% {
                -webkit-transform: scale(1.0);
                opacity: 0;
            }
        }

        @keyframes sk-scaleout {
            0% {
                -webkit-transform: scale(0);
                transform: scale(0);
            } 100% {
                  -webkit-transform: scale(1.0);
                  transform: scale(1.0);
                  opacity: 0;
              }
        }
    </style>
</head>
<body class="app">
{% block javascripts_body %}
    {%  insert_scripts body_begin %}
{% endblock %}
<!-- @TOC -->
<!-- =================================================== -->
<!--
  + @Page Loader
  + @App Content
      - #Left Sidebar
          > $Sidebar Header
          > $Sidebar Menu

      - #Main
          > $Topbar
          > $App Screen Content
-->

<!-- @Page Loader -->
<!-- =================================================== -->
<div id='loader'>
    <div class="spinner"></div>
</div>

<script>
    window.addEventListener('load', () => {
        const loader = document.getElementById('loader');
        setTimeout(() => {
            loader.classList.add('fadeOut');
        }, 300);
    });
</script>

<!-- @App Content -->
<!-- =================================================== -->
<div>
    <!-- #Left Sidebar ==================== -->
    <div class="actionbar">
        <div class="top-buttons">
            <div class="buttons-wrapper">
                <div class="buttons-group">
                    <div class="item menu">
                        <i id="sidebar-toggle" class="ti-menu sidebar-toggle"></i>
                    </div>
                </div>
                <div class="buttons-group">
                    <div class="item crawl-down-btn" data-target="#sidebar-account">
                        <img class="w-2r bdrs-50p" src="https://randomuser.me/api/portraits/men/10.jpg" alt="">
                    </div>
                </div>
                <div class="buttons-group">
                    <div class="item crawl-down-btn" data-target="#sidebar-notify">
                        <i class="ti-bell"></i>
                    </div>
                    <div class="item crawl-down-btn" data-target="#sidebar-messages">
                        <i class="ti-email" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="buttons-group">
                    <div class="item crawl-down-btn" data-target="#sidebar-filters">
                        <i class="ti-search"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sidebar">
        <div class="sidebar-inner">
            <!-- ### $Sidebar Header ### -->
            <div class="sidebar-logo">
                <div class="peers ai-c fxw-nw">
                    <div class="peer peer-greed">
                        <a class="sidebar-link td-n" href="/">
                            <div class="peers ai-c fxw-nw">
                                <div class="peer">
                                    <div class="logo">
                                        <img src="{{ asset('build/common/frontend/images/dino.png') }}" alt="Mororo" width="36"/>
                                    </div>
                                </div>
                                <div class="peer peer-greed">
                                    <h5 class="lh-1 mB-0 logo-text">Mororo</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="peer">
                        <div class="mobile-toggle sidebar-toggle">
                            <a href="" class="td-n">
                                <i class="ti-arrow-circle-left"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- ### $Sidebar Menu ### -->
            {{ insert_menu('main_menu') }}

            <!-- ### $Sidebar Account ### -->
            <ul id="sidebar-account" class="crawl-down-bar sidebar-menu scrollable pos-r" style="display: none">
                <li class="crawl-down-close">
                    <i class="ti-close close-btn"></i>
                </li>
                <li class="crawl-down-title">
                    Ivan Dolgov
                </li>
                <li class="nav-item">
                    <a class="sidebar-link top-level" href="#">
                        <span class="icon-holder">
                            <i class="fa fa-user-o" aria-hidden="true"></i>
                        </span>
                        <span class="title">Профиль</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="sidebar-link top-level" href="{{ path('logout') }}">
                        <span class="icon-holder">
                            <i class="fa fa-sign-out" aria-hidden="true"></i>
                        </span>
                        <span class="title">Выход</span>
                    </a>
                </li>
            </ul>

            <!-- ### $Sidebar Notify ### -->
            <div id="sidebar-notify" class="crawl-down-bar scrollable pos-r" style="display: none">
                <div class="crawl-down-close">
                    <i class="ti-close close-btn"></i>
                </div>
                <div class="crawl-down-title">
                    Уведомления
                </div>
                <div class="p-20 w-60p">
                    Здесь будет список уведомлений
                </div>
            </div>

            <!-- ### $Sidebar Messages ### -->
            <div id="sidebar-messages" class="crawl-down-bar scrollable pos-r" style="display: none">
                <div class="crawl-down-close">
                    <i class="ti-close close-btn"></i>
                </div>
                <div class="crawl-down-title">
                    Сообщения
                </div>
                <div class="p-20 w-60p">
                    Здесь будут сообщения от других пользователей
                </div>
            </div>

            <!-- ### $Sidebar Filters ### -->
            <div id="sidebar-filters" class="crawl-down-bar scrollable pos-r" style="display: none">
                <div class="crawl-down-close">
                    <i class="ti-close close-btn"></i>
                </div>
                <div class="crawl-down-title">
                    Фильтры
                </div>
                <div class="p-20 w-60p">
                    Здесь будет поиск по фильтрам
                </div>
            </div>
        </div>
    </div>

    <!-- #Main ============================ -->
    <div class="page-container">
        <!-- ### $Topbar ### -->
        <div class="header navbar">
            <div class="header-container">
                <div class="nav-sidebar-toggle">
                    <a class="sidebar-toggle" href="#">
                        <i class="ti-menu"></i>
                    </a>
                </div>

                <div class="nav-left">
                    {% block breadcrumbs %}{% endblock %}
                    {{ insert_breadcrumbs() }}
                </div>

                <div class="nav-right">
                    {#<button type="button" class="btn btn-primary btn-sm">Сохранить</button>
                    <button type="button" class="btn btn-secondary btn-sm">Удалить</button>#}
                </div>
            </div>
        </div>

        <!-- ### $App Screen Content ### -->
        <main class='main-content'>
            <div id='mainContent'>
                {% block body %}{% endblock %}
            </div>
        </main>

    </div>
</div>
{% block javascripts_footer %}
    <script type="text/javascript" src="{{ asset('build/app-admin/frontend/app.js') }}"></script>
    {%  insert_scripts body_end %}
{% endblock %}
</body>
</html>
