#tree ul.fancytree-container {
    border: none;
}

.search-box {
    display: flex;
    cursor: text;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-collapse: collapse;
    margin-left: 10px;
    flex-direction: row;
    align-items: stretch;
}
.search-box input.search {
    border: none;
    background: white;
    padding-right: 40px;
    width: calc(100% - 40px);
}
.search-cleaner {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: -34px;
    cursor: pointer;
    width: 34px;
    z-index: 10;
    padding-left: 10px;
}
